* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F4F0;
    font-family: 'Karla', sans-serif;
}

header {
    text-align: center;

}

header h1 {
    font-size: 1.2em;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 50px;
}


.img-desc-bcg img {
    width: 400px;
}

.container,
.container2 {
    width: 80%;
    margin: 60px auto 30px auto;
}

.desc {
    width: 600px;
    padding-left: 50px;
    font-weight: 300px;
}

.desc2 {
    width: 600px;
    padding-right: 50px;
    font-weight: 300px;

}

.desc h2,
.desc2 h2 {
    margin-bottom: 20px;
}

p {
    font-size: 1.4em;
    line-height: 2;

}


.img-desc-bcg,
.desc {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-bottom: 30px;

}

.img-desc-bcg,
.desc2 {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-bottom: 30px;

}

.img-desc-bcg {
    position: relative;
}

.img-desc {
    width: 400px;
    position: absolute;
    top: -30px;
    left: 30px;

}

.section h2 {
    font-size: 2.3em;
    font-weight: 200;
}

.section {
    margin-top: 50px;
    margin-bottom: 150px;

}

.section,
.contact-desc {
    text-align: center;

}

.contact {
    background-color: #9bccbb;
    padding: 50px;
    height: 600px;
}

.contact h3 {
    font-size: 1.3em;
}

form {
    width: 50%;
    margin: auto;
}


form label {
    display: block;
    padding-right: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #5a5661;
}

form input,
form textarea {
    padding-right: 100px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: unset;
    margin-bottom: 10px;
}

.w-100 {
    width: 100%;
}

form button {
    background-color: #9bccbb;
    padding: 15px 20px 15px 20px;
    float: right;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-weight: 200;

}

footer a {
    color: blue;
}